.nav li .submenu {
  opacity: 0;
  visibility: hidden;
  z-index: 1000
}

.nav li:hover .submenu {
  opacity: 1 !important;
  visibility: inherit;
  top: 100%
  
}

.nav li .submenu button:hover {color: #3366cc !important;}
